In [ ]:
#Loops

numbers = [1,2,3,4,5]   #List of numbers
for number in numbers:  #loop
    print(number)

In [ ]:
numbers = [1,2,3,4,5]
for i in range(1,6):
    print(i)
print(numbers)

In [ ]:
simpsons = {'Dad':'Homer', #This is a Tuple
            'Mum':'Marge',
            'Baby':'Maggie'}

for k, v in simpsons.items():
    print(f'{v} is the {k}')

In [5]:
foods = {'Fruit':'Grapes',
        'Vegetable':'Potato',
        'Fish':'Herring'}

for k, v in foods.items():
    print(f'My favourite {k} is {v}')

My favourite Fruit is Grapes
My favourite Vegetable is Potato
My favourite Fish is Herring

In [11]:
side_characters = ['Barney','Ned','Krusty','Sideshow Bob']

for i, name in enumerate(side_characters):
    side_characters[i] = f'{name} Simpson'

print(side_characters)

['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [ ]:
import pandas as pd
df_1 = pd.DataFrame({'col 1':['food','bar','baz'],
                     'col 2': [1,2,3]})
df_2 = pd.DataFrame({'col 1':['Thing 1','Thing 2','Thing 3'],
                    'col 2': ['Green', 'Eggs', 'Ham'] })

df_dict = {'Dataframe 1':df_1,
           'Dataframe 2':df_2}

print(df_dict.items())
for k, v in df_dict.items():
    print(k)
    print(v)

for k, v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

In [20]:
company_1 = pd.DataFrame({'Employee':['Mike','Paul','Liz'],
                     'Job Title': ['Chief Executive','Research Analyst', 'Head of Service']})
company_2 = pd.DataFrame({'Employee':['Anne','Kate','Bob'],
                     'Job Title': ['Sales Rep','Marketing Director', 'Website Designer']})

companies_dict = {'Company 1':company_1,
                'Company 2':company_2}

for k, v in companies_dict.items():
    v['originator'] = k
    
companies_dict['Company 1']

  Employee         Job Title originator
0     Mike   Chief Executive  Company 1
1     Paul  Research Analyst  Company 1
2      Liz   Head of Service  Company 1

In [21]:
child_identifiers = pd.DataFrame({'child_id': ['child1','child2','child3','child4'],
              'age_first_contact':[6, 10, 12, 13],
              'gender':['M','M','M','F']})
print(child_identifiers)
nhs_nums = pd.DataFrame({'child_id': ['child1','child2','child3','child4'],
              'nhs_num':['nhs1','nhs2', 'nhs3', 'nhs4']})

#print(nhs_nums)
ident_nhs = child_identifiers.merge(nhs_nums, how='left', left_on='child_id', right_on='child_id')

#ident_nhs = child_identifiers.merge(nhs_nums, how='left',on='child_id')

print(ident_nhs)

  child_id  age_first_contact gender
0   child1                  6      M
1   child2                 10      M
2   child3                 12      M
3   child4                 13      F
  child_id  age_first_contact gender nhs_num
0   child1                  6      M    nhs1
1   child2                 10      M    nhs2
2   child3                 12      M    nhs3
3   child4                 13      F    nhs4

In [25]:
cp_plans = pd.DataFrame({'child_id': ['child1','child4'],
              'cp_start_date':['01/01/2019','01/01/2000']
             })

df_left = ident_nhs.merge(cp_plans, how='left', on='child_id')
print(df_left)

#df_left['cp_start_date'] = df_left['cp_start_date'].fillna()
#df_inner = ident_nhs.merge(cp_plans, how='inner', on='child_id')
#print(df_inner)

  child_id  age_first_contact gender nhs_num cp_start_date
0   child1                  6      M    nhs1    01/01/2019
1   child2                 10      M    nhs2           NaN
2   child3                 12      M    nhs3           NaN
3   child4                 13      F    nhs4    01/01/2000
  child_id  age_first_contact gender nhs_num cp_start_date
0   child1                  6      M    nhs1    01/01/2019
1   child4                 13      F    nhs4    01/01/2000

In [33]:
employee_dict = pd.DataFrame(
        {'name':['mike jones','john smith','jim carr','paul carter'],
        'salary':[45000,60000,25000,37500],
        'job title':['senior analyst','research analyst','performance analyst','GIS Analyst']})

employee_id_dict = pd.DataFrame(
        {'name':['mike jones','john smith','jim carr','paul carter'],
        'emp_id':[123456,123457,123458,123459]}
)

emp_table = employee_dict.merge(employee_id_dict, how='left', on='name')
emp_table

          name  salary            job title  emp_id
0   mike jones   45000       senior analyst  123456
1   john smith   60000     research analyst  123457
2     jim carr   25000  performance analyst  123458
3  paul carter   37500          GIS Analyst  123459