In [1]:
import pandas as pd

In [16]:
df_house_prices = pd.read_csv('/workspaces/ERN-sessions/data/1980 2023 average house prices.csv') #importing from data folder within github.

df_house_prices['Period'] = pd.to_datetime(df_house_prices['Period'], format='%Y-%m')

#df_house_prices.info()

In [15]:
df_house_prices_highest_monthly_change = df_house_prices['Percentage change (monthly) All property types'].max()
df_house_prices_lowest_monthly_change = df_house_prices['Percentage change (monthly) All property types'].min()
df_house_prices_average_monthly_change = df_house_prices['Percentage change (monthly) All property types'].mean()

print(f"Maximum percentage change: {df_house_prices_highest_monthly_change}")
print(f"Minimum percentage chnage: {df_house_prices_lowest_monthly_change}")
print(f"Average percentage change: {df_house_prices_average_monthly_change}")

Maximum percentage change: 13.29
Minimum percentage chnage: -4.79
Average percentage change: 1.191759082217973

In [22]:
house_price_pct_change_greater_than_mean = df_house_prices['Percentage change (monthly) All property types'] > df_house_prices_average_monthly_change #condition I want to compare

over_monthly_average = df_house_prices[house_price_pct_change_greater_than_mean] 

over_monthly_average

# [] selecting from dataframe
# () passing parameters

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02-01,10.11,19273,3.94,28.59
2,United Kingdom,1980-03-01,10.11,19273,3.94,28.59
3,United Kingdom,1980-04-01,10.51,20044,4.00,24.15
4,United Kingdom,1980-05-01,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
500,United Kingdom,2021-09-01,141.09,269003,3.29,11.37
502,United Kingdom,2021-11-01,140.23,267370,1.53,8.66
504,United Kingdom,2022-01-01,143.05,272738,1.72,9.23
508,United Kingdom,2022-05-01,147.10,280433,1.30,11.60
510,United Kingdom,2022-07-01,151.10,288156,1.90,13.80

In [30]:
up_to_100 = list(range(1,101))
#up_to_100_by_2_odd = list(range(1,101,2))
#up_to_100_by_2_even = list(range(0,101,2))

print(up_to_100)
#print(up_to_100_by_2_odd)
#print(up_to_100_by_2_even)

total_evens = 0

for number in up_to_100:
    if number %2 == 0:
        total_evens += number

print(total_evens)

total_odds = 0

for number in up_to_100:
    if number %2 != 0: #or use == 1
        total_odds += number

print(total_odds)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
2550
2500

In [34]:
# Functions
#DRY - Don't Repeat Yourself

def sum_function(x, y):
    total = x + y
    return total

answer = sum_function(5,6)
answer

11

In [36]:
def product_function(x, y):
    '''
    Finds the product of two arguments, returns the answer

    Args:
        x, y: Int or float, numbers for which product is found.

    Returns:
        product = Int of float, the product of x and y.
    '''
    total = x * y
    return total

product_answer = product_function(3,4)
product_answer

12

In [2]:
def minus_div(x, y):
    '''
    Finds the values of two separate arguments, minus and divide, and returns them both.

    Args:
        x, y: Int or Float.

    Return:
        minus: Int or Float, x minus(-) y
        divide: Int or Float, x divided(/) by y   
    '''
    minus = x - y
    divide = x / y
    return minus, divide

minus_12_4, divide_12_4 = minus_div(12,4)
print(minus_12_4, divide_12_4)

8 3.0