In [2]:
numbers = [1,2,3,4,5]

for i in numbers:
    print(i)

1
2
3
4
5

In [5]:
simpsons = {'Dad':'Homer'
            ,'Mum' : 'Marge'
            ,'Baby' : 'Maggie'}
print(simpsons.items())

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

dict_items([('Dad', 'Homer'), ('Mum', 'Marge'), ('Baby', 'Maggie')])
Homer is the Dad
Marge is the Mum
Maggie is the Baby

In [21]:
fruits = {'Banana':'Yellow',
            'Apple':'Green',
            'Persimmon':'Orange'}
print(fruits.items())

for fruit_type, fruit_colour in fruits.items():
    print(f'{fruit_type}s are {fruit_colour}')

dict_items([('Banana', 'Yellow'), ('Apple', 'Green'), ('Persimmon', 'Orange')])
Bananas are Yellow
Apples are Green
Persimmons are Orange

In [27]:
simpsons_side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
print(simpsons_side_characters)

for i in enumerate(simpsons_side_characters): #enumerate uses the index location. Indexing starts at 0
    print(i)

for i, name in enumerate(simpsons_side_characters):
    simpsons_side_characters[i] = f'{name} Simpson'
print(simpsons_side_characters)

['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
(0, 'Barney')
(1, 'Ned')
(2, 'Krusty')
(3, 'Sideshow Bob')
['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [41]:
import pandas as pd

fam_1 = pd.DataFrame({'Name':['Vicki', 'Henry', 'Heidi'],
                        'Role':['Wife', 'Son', 'Daughter']})
fam_2 = pd.DataFrame({'Name':['Clare', 'Edward', 'Sofia'],
                        'Role':['Sister', 'Bro-in-Law', 'Niece']})
#print(fam_1)
#print(fam_2)

fam_dict = {'Dataframe 1' : fam_1,
            'Dataframe 2' : fam_2}
#print(fam_dict)

#for k, v in fam_dict.items():
#    print(k)
#    print(v)

for k, v in fam_dict.items():
    v['Origin'] = k

fam_dict['Dataframe 1']

    Name      Role       Origin
0  Vicki      Wife  Dataframe 1
1  Henry       Son  Dataframe 1
2  Heidi  Daughter  Dataframe 1

In [48]:
child_identifiers = pd.DataFrame({'child_id':['child 1', 'child 2', 'child 3', 'child 4'],
                                    'age_first_contact':[6, 10, 12, 13],
                                    'gender':['M', 'M', 'M', 'F']
                                    })
#print(child_identifiers)

nhs_numbers = pd.DataFrame({'child_id':['child 1', 'child 2', 'child 3', 'child 4'],
                            'nhs_number':[1234,4567,7899,7342]                            
                                })
#print(nhs_numbers)

ident_nhs = child_identifiers.merge(nhs_numbers, how='left', left_on='child_id', right_on='child_id') #left on=['child_id', 'DOB'] << example of joining on two arguments

print(ident_nhs)

  child_id  age_first_contact gender  nhs_number
0  child 1                  6      M        1234
1  child 2                 10      M        4567
2  child 3                 12      M        7899
3  child 4                 13      F        7342

In [56]:
#print(fam_dict)

fam_dobs = pd.DataFrame({'Name':['Vicki', 'Henry', 'Heidi'],
                            'DOB':['27/02/1982', '17/11/2008', '05/07/2011']
                        })
#print(fam_dobs)

fam_1_with_dobs = fam_1.merge(fam_dobs, how='left', left_on='Name', right_on='Name')

print(fam_1_with_dobs)

    Name      Role       Origin         DOB
0  Vicki      Wife  Dataframe 1  27/02/1982
1  Henry       Son  Dataframe 1  17/11/2008
2  Heidi  Daughter  Dataframe 1  05/07/2011