In [1]:
numbers = [1, 2, 3, 4, 5]

for i in range(1,6):
    print(i)

print(numbers)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [9]:
simpsons = {'Dad': 'Homer',
            'Mum': 'Marge',
            'Baby': 'Maggie'}

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

Homer is the Dad
Marge is the Mum
Maggie is the Baby
['Ned', 'Krusty']

In [10]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
print(side_characters[1:3])

['Ned', 'Krusty']

In [11]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']

for i, name in enumerate(side_characters):
    side_characters[i] = f'{name} Simpson'

print(side_characters)

['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [17]:
import pandas as pd
df_1 = pd.DataFrame({'Col 1':['foo','bar','baz'],
                     'col 2':[1, 2, 3]})

df_2 = pd.DataFrame({'col 1':['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green', 'Eggs', 'Ham']})

df_dict = {'Dataframe 1':df_1,
           'Dataframe 2':df_2}

for k, v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

  Col 1  col 2   originator
0   foo      1  Dataframe 1
1   bar      2  Dataframe 1
2   baz      3  Dataframe 1

In [18]:
import pandas as pd
company_1 = pd.DataFrame({'Name':['Jon','Paul','Emily'],
                     'Job Title':['Reception', 'Cleaner', 'Admin']})

company_2 = pd.DataFrame({'Name':['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green', 'Eggs', 'Ham']})

company_df_dict = {'Dataframe 1':company_1,
           'Dataframe 2':company_2}

for k, v in company_df_dict.items():
    v['originator'] = k

company_df_dict['Dataframe 1']

    Name  Job Title   originator
0    Jon  Reception  Dataframe 1
1   Paul    Cleaner  Dataframe 1
2  Emily      Admin  Dataframe 1

In [29]:
child_ident = pd.DataFrame({'child_id': ['child1','child2','child3', 'child4'],
              'age_first_contact':[6, 10, 12, 13],
              'gender':['M','M', 'M', 'F']})

print(child_ident)

nhs_nums = pd.DataFrame({'child_id':['child1','child2','child3', 'child4'],
                         'nhs_numbers':['nhs1', 'nhs2', 'nhs3', 'nhs4']})

ident_nhs = child_ident.merge(nhs_nums, how='left', left_on='child_id', right_on='child_id')

# ident_nhs = child_identifiers.merge(nhs_nums, how='left', on='child_id')

print(ident_nhs)

  child_id  age_first_contact gender
0   child1                  6      M
1   child2                 10      M
2   child3                 12      M
3   child4                 13      F
  child_id  age_first_contact gender nhs_numbers
0   child1                  6      M        nhs1
1   child2                 10      M        nhs2
2   child3                 12      M        nhs3
3   child4                 13      F        nhs4