In [5]:
numbers = [1, 2, 3, 4, 5]

# for i in numbers:
#     print(i)

for i in range(1,6):
    print(i)

print(numbers)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [6]:
simpsons = {'Dad': 'Homer',
            'Mum': 'Marge',
            'Baby': 'Maggie'}

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

Homer is the Dad
Marge is the Mum
Maggie is the Baby

In [7]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
print(side_characters[1:3])

['Ned', 'Krusty']

In [8]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']

for i, name in enumerate(side_characters):
    side_characters[i] = f'{name} Simpson'

print(side_characters)

['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [9]:
import pandas as pd

df_1 = pd.DataFrame({'Col 1':['foo','bar','baz'],
                     'col 2':[1, 2, 3]})

df_2 = pd.DataFrame({'col 1':['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green', 'Eggs', 'Ham']})

df_dict = {'Dataframe 1':df_1,
           'Dataframe 2':df_2}

for k, v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

  Col 1  col 2   originator
0   foo      1  Dataframe 1
1   bar      2  Dataframe 1
2   baz      3  Dataframe 1

In [10]:
import pandas as pd
company_1 = pd.DataFrame({'Name':['Jon','Paul','Emily'],
                     'Job Title':['Reception', 'Cleaner', 'Admin']})

company_2 = pd.DataFrame({'Name':['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green', 'Eggs', 'Ham']})

company_df_dict = {'Dataframe 1':company_1,
           'Dataframe 2':company_2}

for k, v in company_df_dict.items():
    v['originator'] = k

company_df_dict['Dataframe 1']

    Name  Job Title   originator
0    Jon  Reception  Dataframe 1
1   Paul    Cleaner  Dataframe 1
2  Emily      Admin  Dataframe 1

In [19]:
import pandas as pd

child_ident = pd.DataFrame({'child_id': ['child1','child2','child3', 'child4'],
              'age_first_contact':[6, 10, 12, 13],
              'gender':['M','M', 'M', 'F']})

#print(child_ident)

nhs_nums = pd.DataFrame({'child_id':['child1','child2','child3', 'child4'],
                         'nhs_numbers':['nhs1', 'nhs2', 'nhs3', 'nhs4']})

ident_nhs = child_ident.merge(nhs_nums, how='left', left_on='child_id', right_on='child_id')

# ident_nhs = child_identifiers.merge(nhs_nums, how='left', on='child_id')

print(ident_nhs)

  child_id  age_first_contact gender nhs_numbers
0   child1                  6      M        nhs1
1   child2                 10      M        nhs2
2   child3                 12      M        nhs3
3   child4                 13      F        nhs4

In [14]:
x = 1
numbers_list = []

for i in list(range(10)):
    numbers_list.append(x)
    x = (x + numbers_list[i-1])

numbers_list

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [28]:
import pandas as pd

answers = []
times_tables = {}
for i in list(range(1,11)):
    for j in list(range(1,11)):
        answers.append(i * j)
    times_tables[i] = answers
    answers = []

multiplication_table = pd.DataFrame(times_tables)
multiplication_table.index +=1
multiplication_table

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

In [37]:
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []
combinations = {}

In [39]:
mixins = []
sandwiches = {}

for spread in spreads:
    for topping in toppings:
        mixins.append(f'{spread} {topping}')
    sandwiches[spread] = mixins
    mixins = []

combinations_df = pd.DataFrame(sandwiches)
combinations_df['topping'] = toppings
combinations_df.set_index('topping', inplace=True)

combinations_df

                   butter           jam           peanut butter
topping
ham            butter ham       jam ham       peanut butter ham
cheese      butter cheese    jam cheese    peanut butter cheese
sardines  butter sardines  jam sardines  peanut butter sardines