In [2]:
numbers = [1,2,3,4,5]

for i in numbers:
    print(i)

1
2
3
4
5

In [12]:
simpsons = {'dad' : 'Homer',
            'mum' : 'Marge',
            'baby' : 'Maggie'}
# print (simpsons.items())

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

Homer is the dad
Marge is the mum
Maggie is the baby

In [10]:
numbers = ['chips','lasagne','pizza','chilli','katsu']

for i in numbers:
    print(i)

chips
lasagne
pizza
chilli
katsu

In [21]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
#print(side_characters[0:3])

for i, name in enumerate(side_characters):
   # print(side_characters [i])
   side_characters[i] = f'{name} Simpson'

print (side_characters)

['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [6]:
import pandas as pd

company1 = pd.DataFrame({'names':['Barney', 'Homer', 'Ned'],
                     'jobtitle': ['Drunk','Safety officer' , 'Leftorium Owner']})

company2 = pd.DataFrame({'names': ['Old Gil', 'Selma', 'Mayor Quimby'],
                    'jobtitle':['Salesman', 'DMV', 'Politician']})

df_dict = {'Dataframe 1':company1,
           'Dataframe 2':company2}

for k,v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

    names         jobtitle   originator
0  Barney            Drunk  Dataframe 1
1   Homer   Safety officer  Dataframe 1
2     Ned  Leftorium Owner  Dataframe 1

In [38]:
child_identifiers = pd.DataFrame( {'child_id': ['child1', 'child2', 'child3', 'child4'],
              'age_first_contact' : [6,10,12,13],
               'Gender' :['M', 'M', 'M', 'M'] })

#print(return_906)

nhs_numbs = pd.DataFrame ( {'child_id': ['child1', 'child2', 'child3', 'child4'],
              'NHS numbers' : ['NHS1','NHS2', 'NHS2', 'NHS4'],
                })
#print(nhs_numbs)

ident_nhs = child_identifiers.merge(nhs_numbs, how='left', left_on='child_id', right_on='child_id')

print(ident_nhs)

  child_id  age_first_contact Gender NHS numbers
0   child1                  6      M        NHS1
1   child2                 10      M        NHS2
2   child3                 12      M        NHS2
3   child4                 13      M        NHS4

In [39]:
staff_names = pd.DataFrame( {'Name': ['Jon', 'Michael', 'Emily', 'Andrea'],
              'Salary' : [1000,2000,3000,4000] })



staff_ids = pd.DataFrame ( {'Name': ['Jon', 'Michael', 'Emily', 'Andrea'],
              'IDS' : ['12345','12346', '12347', '12348'],
                })


ident_staff = staff_names.merge(staff_ids, how='left', left_on='Name', right_on='Name')

print(ident_staff)

      Name  Salary    IDS
0      Jon    1000  12345
1  Michael    2000  12346
2    Emily    3000  12347
3   Andrea    4000  12348

In [2]:
x = 1
numbers_list = []

for i in list(range(10)):
    numbers_list.append(x)
    x = (x + numbers_list[i-1])

numbers_list

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [7]:
import pandas as pd

answers = []
times_tables = {}
for i in list(range(1,11)):
    for j in list (range(1,11)):
        answers.append(i * j)
    times_tables[i] = answers
    answers = []

multiplication_table = pd.DataFrame(times_tables)
multiplication_table.index +=1
multiplication_table

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

In [10]:
spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling= ['beef', 'chicken', 'pork']
combinations = {}
for i in list(range(1,11)):
    for j in list (range(1,11)):
        answers.append(i + j)
    combinations[i] = answers
    answers = []

combinations_df=(pd.DataFrame(combinations))
combinations_df['toppings'] = toppings
combinations_df.set.index('toppings')

ValueError: Length of values (3) does not match length of index (10)

In [22]:
mixings = []
sandwiches = {}
for spread in spreads:
    for topping in toppings:
       mixings.append(f'{spread} {topping}') 
       
sandwiches[spread] = mixings
mixings = []
       
combinations_df = pd.DataFrame(sandwiches)
combinations_df['topping'] = topping
combinations_df.set_index('topping', inplace=True)
combinations_df

                   peanut butter
topping
sardines              butter ham
sardines           butter cheese
sardines         butter sardines
sardines                 jam ham
sardines              jam cheese
sardines            jam sardines
sardines       peanut butter ham
sardines    peanut butter cheese
sardines  peanut butter sardines

In [16]:
import pandas as pd

# (format=%Y=%m)
df  = pd.read_csv('/workspaces/ERN-sessions/data/1980 2023 average house prices.csv')
df['Period'] = pd.to_datetime(df['Period'], format='%Y-%m')
high = df['Average price All property types'].max()
low =df['Average price All property types'].min()
mean =df['Average price All property types'].mean()
median1 = df['Average price All property types'].median()

house_info_list = [high, low, median1, mean]

#print (house_info_list)

for info in house_info_list:
    print (info)

292187
19273
97964.0
120570.55831739961

In [19]:
print((1 > 4) & (5 == 5)) # and statement
print((1 > 4) | (5 == 5)) # or statement

False
True

In [42]:
#df_under_mean = df[(df['Average price All property types'] < df['Average price All property types'].median())]
#df_under_mean
#df_under_mean_median = df[(df['Average price All property types']  < df['Average price All property types'].mean()) &
                      #  (df['Average price All property types']  < df['Average price All property types'].median())]
#df_under_mean_median

over_mean = df['Average price All property types'] > df['Average price All property types'].mean()
under_median = df['Average price All property types'] < df ['Average price All property types'].median()
condition = over_mean | under_median
df_over_under = df[~condition]

In [50]:
#Percentage change (monthly) All property types	Percentage change (yearly) All property types

under_mean = df['Percentage change (monthly) All property types'] < df['Percentage change (monthly) All property types'].mean()
under_median2 = df['Percentage change (yearly) All property types'] < df['Percentage change (yearly) All property types'].median()
condition2 = under_mean & under_median2
df_under_under = df[condition2]
df_under_under

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
21,United Kingdom,1981-10-01,11.24,21425,-1.95,2.53
22,United Kingdom,1981-11-01,11.24,21425,-1.95,2.53
23,United Kingdom,1981-12-01,11.24,21425,-1.95,2.53
24,United Kingdom,1982-01-01,10.96,20897,-2.46,-0.19
25,United Kingdom,1982-02-01,10.96,20897,-2.46,-0.19
...,...,...,...,...,...,...
518,United Kingdom,2023-03-01,148.20,282548,-1.00,3.20
519,United Kingdom,2023-04-01,148.90,283871,0.50,2.50
520,United Kingdom,2023-05-01,149.50,285053,0.40,1.60
521,United Kingdom,2023-06-01,151.20,288281,1.10,1.90
522,United Kingdom,2023-07-01,152.00,289824,0.50,0.60

In [62]:
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

ageerror = df['Age'] < df['Age first contact']
cpyes = df['CP Plan?'].str.lower().str.contains('y')
condition3 = ageerror & cpyes
cpandage = df[condition3]
cpandage

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [75]:
# if (where something is true do this)
# else (if the if statement wasn't true, do this)
# elif else-if (if that wasn't true but this is, do this)

#if (1>2) == True:
    #print ('true')
#else:
    #print('false')    


list_nums = list(range(1, 21))
for number in list_nums:
    if number %2 == 0: 
        print(f'{number} is even')
    else:
        print(f'{number} is not even')

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even
11 is not even
12 is even
13 is not even
14 is even
15 is not even
16 is even
17 is not even
18 is even
19 is not even
20 is even

In [85]:
new_nums = range(21)
even = number %2 == 0
notzero = !%= 0)
for number in new_nums:
    if number (%2 == 0) & (!= 0): 
        print(f'{number} is even')
    elif:
        number (!= 0): 
        print(f'{number} is not even')

SyntaxError: invalid syntax (1817659320.py, line 5)