In [2]:
numbers = [1,2,3,4,5]

for i in numbers:
    print(i)

1
2
3
4
5

In [12]:
simpsons = {'dad' : 'Homer',
            'mum' : 'Marge',
            'baby' : 'Maggie'}
# print (simpsons.items())

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

Homer is the dad
Marge is the mum
Maggie is the baby

In [10]:
numbers = ['chips','lasagne','pizza','chilli','katsu']

for i in numbers:
    print(i)

chips
lasagne
pizza
chilli
katsu

In [21]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
#print(side_characters[0:3])

for i, name in enumerate(side_characters):
   # print(side_characters [i])
   side_characters[i] = f'{name} Simpson'

print (side_characters)

['Barney Simpson', 'Ned Simpson', 'Krusty Simpson', 'Sideshow Bob Simpson']

In [29]:
import pandas as pd

company1 = pd.DataFrame({'names':['Barney', 'Homer', 'Ned'],
                     'jobtitle': ['Drunk','Safety officer' , 'Leftorium Owner']})

company2 = pd.DataFrame({'names': ['Old Gil', 'Selma', 'Mayor Quimby'],
                    'jobtitle':['Salesman', 'DMV', 'Politician']})

df_dict = {'Dataframe 1':company1,
           'Dataframe 2':company2}

for k,v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

    names         jobtitle   originator
0  Barney            Drunk  Dataframe 1
1   Homer   Safety officer  Dataframe 1
2     Ned  Leftorium Owner  Dataframe 1

In [38]:
child_identifiers = pd.DataFrame( {'child_id': ['child1', 'child2', 'child3', 'child4'],
              'age_first_contact' : [6,10,12,13],
               'Gender' :['M', 'M', 'M', 'M'] })

#print(return_906)

nhs_numbs = pd.DataFrame ( {'child_id': ['child1', 'child2', 'child3', 'child4'],
              'NHS numbers' : ['NHS1','NHS2', 'NHS2', 'NHS4'],
                })
#print(nhs_numbs)

ident_nhs = child_identifiers.merge(nhs_numbs, how='left', left_on='child_id', right_on='child_id')

print(ident_nhs)

  child_id  age_first_contact Gender NHS numbers
0   child1                  6      M        NHS1
1   child2                 10      M        NHS2
2   child3                 12      M        NHS2
3   child4                 13      M        NHS4

In [39]:
staff_names = pd.DataFrame( {'Name': ['Jon', 'Michael', 'Emily', 'Andrea'],
              'Salary' : [1000,2000,3000,4000] })



staff_ids = pd.DataFrame ( {'Name': ['Jon', 'Michael', 'Emily', 'Andrea'],
              'IDS' : ['12345','12346', '12347', '12348'],
                })


ident_staff = staff_names.merge(staff_ids, how='left', left_on='Name', right_on='Name')

print(ident_staff)

      Name  Salary    IDS
0      Jon    1000  12345
1  Michael    2000  12346
2    Emily    3000  12347
3   Andrea    4000  12348