In [ ]:
numbers = [1, 2, 3, 4, 5]

for i in range(1,6):
    print(i)
    
print(numbers)

In [ ]:
numbers = [1, 2, 3, 4, 5]

for i in range(1,6):
    print(i)
    
print(numbers)

simpsons = {'Dad':'Homer',
            'Mum':'Marge',
            'Baby':'Maggie'}


for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

In [ ]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']

for i, name in enumerate(side_characters):
    side_characters[i] = f'{name} Simpson'

print(side_characters)

In [27]:
import pandas as pd 

df_1 = pd.DataFrame({'col 1':['foo', 'bar', 'baz'],
                     'col 2':[1, 2, 3]})

df_2 = pd.DataFrame({'col 1': ['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2':['Green', 'Eggs', 'Ham']})

df_dict = {'Dataframe 1':df_1,
           'Dataframe 2':df_2}

for k, v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

  col 1  col 2   originator
0   foo      1  Dataframe 1
1   bar      2  Dataframe 1
2   baz      3  Dataframe 1

In [33]:
child_identifiers = pd.DataFrame({'child_id':['child1', 'child2', 'child3', 'child4'],
              'age_first_contact':[6, 10, 12, 13],
              'Gender':['M', 'M', 'M', 'F']})


nhs_nums = pd.DataFrame({'child_id':['child1', 'child2', 'child3', 'child4'],
              'nhs_numbers':['nhs1', 'nhs2', 'nhs3', 'nhs4']})


ident_nhs = child_identifiers.merge(nhs_nums, how='left', left_on='child_id', right_on='child_id')

# ident_nhs = child_identifiers.merge(nhs_nums, how='left', on='child_id')

print(ident_nhs)

  child_id  age_first_contact Gender nhs_numbers
0   child1                  6      M        nhs1
1   child2                 10      M        nhs2
2   child3                 12      M        nhs3
3   child4                 13      F        nhs4

In [37]:
cp_plans = pd.DataFrame({'child_id':['child1', 'child4'],
                        'cp_start_date':['01/01/2023', '01/0/1/2000']})

df_left = ident_nhs.merge(cp_plans, how='left', on='child_id')
df_left['cp_start_date'] = df_left['cp_start_date'].fillna('no cp plan')

df_inner = ident_nhs.merge(cp_plans, how='inner', on='child_id')

print(df_left)
print(df_inner)

  child_id  age_first_contact Gender nhs_numbers cp_start_date
0   child1                  6      M        nhs1    01/01/2023
1   child2                 10      M        nhs2    no cp plan
2   child3                 12      M        nhs3    no cp plan
3   child4                 13      F        nhs4   01/0/1/2000
  child_id  age_first_contact Gender nhs_numbers cp_start_date
0   child1                  6      M        nhs1    01/01/2023
1   child4                 13      F        nhs4   01/0/1/2000