In [2]:
nos = [1, 2, 3, 4, 5]

for no in nos:
    print(no)

foods = ["Beans", "Bread", "Apples", "Pears", "Bananas"]

for food in foods:
    print(food)

1
2
3
4
5
Beans
Bread
Apples
Pears
Bananas

In [4]:
simpsons = {"Dad":"Homer",
            "Mum":"Marge",
            "Daughter":"Lisa"}

for role, name in simpsons.items():
    print(f"{name} is the {role}")

Homer is the Dad
Marge is the Mum
Lisa is the Daughter

In [14]:
import pandas as pd
df_company1=pd.DataFrame({"Name":["Bill","Ben","Baz"],
                  "Job":["Reader","Writer","Cleaner"]})
df_company2=pd.DataFrame({"Name":["Stan","Michelle","Lisa"],
                  "Job":["Driver","Doctor","Manager"]})
df_companies_dict={"Company 1":df_company1,
         "Company 2":df_company2}
for k, v in df_companies_dict.items():
    v["originator"]=k
df_companies_dict["Company 1"]

   Name      Job originator
0  Bill   Reader  Company 1
1   Ben   Writer  Company 1
2   Baz  Cleaner  Company 1

In [21]:
df_jobs=pd.DataFrame({"Name":["Bill","Ben","Baz","Bob"],
                  "Job":["Reader","Writer","Cleaner","Driver"]})
df_staffids=pd.DataFrame({"Name":["Bill","Ben","Baz"],
                  "StaffID":[1,2,3]})


df_staff = df_jobs.merge(df_staffids, how="left", on="Name")
df_staff["StaffID"]=df_staff["StaffID"]

print(df_staff)

   Name      Job  StaffID
0  Bill   Reader      1.0
1   Ben   Writer      2.0
2   Baz  Cleaner      3.0
3   Bob   Driver      NaN

In [18]:
child_identifiers=pd.DataFrame({"child_id":[1, 2, 3, 4],
            "age":[12, 7, 14, 6],
            "gender":["M","M","F","F"]})
print(child_identifiers)

nhs_nums = pd.DataFrame({"child_id":[1, 2, 3, 4],
            "age":["NHS_1", "NHS_2", "NHS_3", "NHS_4"]})

   child_id  age gender
0         1   12      M
1         2    7      M
2         3   14      F
3         4    6      F