In [1]:
phrase = "Hello world" # comment - string
print(phrase)

Hello world

In [9]:
x = 5 # integer
y = 10
z = x + y
print(z)
z = y/x
print(z)
print(type(z))

15
2.0
<class 'float'>

In [4]:
name = "Al"
job = "SQL Developer Report Writer"
phrase = f"My name is {name} , and my job is {job}"
print(phrase)

My name is Al , and my job is SQL Developer Report Writer

In [12]:
name = "Al"
job = "SQL Developer Report Writer"
phrase = f"My name is {name} , and my job is {job}"
print(len(phrase))
string_slice = phrase[8:5]
print(string_slice)

57

In [17]:
# Initialise 2 numerics and find product
x = 3
y = 7
z = x * y
print(z)

#Area of circle of radius 2
r = 2
pi = 3.14
r_sq = r**2
print(r_sq*pi)
x=5
y=10
print("The area of a circle of radius" + str(r) + " is " + str(r_sq*pi))

21
12.56
The area of a circle of radius2 is 12.56

In [27]:
x=5
y=10
list_1 = [1,2,3,4,x,y]
print(list_1)

[1, 2, 3, 4, 5, 10]

In [34]:
colours_list=["red","blue","green"]
fave_col = "salmon"
print(colours_list)
colours_list.append(fave_col)
print(colours_list)

['red', 'blue', 'green']
['red', 'blue', 'green', 'salmon']

In [22]:
slice_this_phrase = "dog cat racoon"

print(slice_this_phrase[:3])
print(slice_this_phrase[4:7])
print(slice_this_phrase[-6:])

dog
cat
racoon