In [1]:
phrase = "Hello world" # comment - string
print(phrase)

Hello world

In [9]:
x = 5 # integer
y = 10
z = x + y
print(z)
z = y/x
print(z)
print(type(z))

15
2.0
<class 'float'>

In [1]:
name = "Alasdair"
job = "SQL Developer Report Writer"
phrase = f"My name is {name} , and my job is {job}"
print(phrase)

My name is Alasdair , and my job is SQL Developer Report Writer

In [12]:
name = "Al"
job = "SQL Developer Report Writer"
phrase = f"My name is {name} , and my job is {job}"
print(len(phrase))
string_slice = phrase[8:5]
print(string_slice)

57

In [17]:
# Initialise 2 numerics and find product
x = 3
y = 7
z = x * y
print(z)

#Area of circle of radius 2
r = 2
pi = 3.14
r_sq = r**2
print(r_sq*pi)
x=5
y=10
print("The area of a circle of radius" + str(r) + " is " + str(r_sq*pi))

21
12.56
The area of a circle of radius2 is 12.56

In [27]:
x=5
y=10
list_1 = [1,2,3,4,x,y]
print(list_1)

[1, 2, 3, 4, 5, 10]

In [34]:
colours_list=["red","blue","green"]
fave_col = "salmon"
print(colours_list)
colours_list.append(fave_col)
print(colours_list)

['red', 'blue', 'green']
['red', 'blue', 'green', 'salmon']

In [22]:
slice_this_phrase = "dog cat racoon"

print(slice_this_phrase[:3])
print(slice_this_phrase[4:7])
print(slice_this_phrase[-6:])

dog
cat
racoon

In [5]:
foods = ['rice','apple','crisps']
print(foods)
foods.append('jelly')
print(foods)

['rice', 'apple', 'crisps']
['rice', 'apple', 'crisps', 'jelly']

In [15]:
#Using extend and remove to add/remove multiple values to an array/list
foods = ['rice','apple','crisps']
more_foods=['jelly','white pudding']
print(foods)
foods.extend(more_foods)
print(foods)
foods.remove('apple')
print(foods)

['rice', 'apple', 'crisps']
['rice', 'apple', 'crisps', 'jelly', 'white pudding']
['apple', 'crisps', 'jelly', 'white pudding']

In [19]:
numbers_list = [1, 9, 76, 22, 3]
numbers_list.sort()
print(numbers_list)
numbers_list.sort(reverse=True)
print(numbers_list)
numbers_list = [1, 9, 76, 22, 3]
sorted_numbers_list=sorted(numbers_list,reverse=)
print(sorted_numbers_list)

[1, 3, 9, 22, 76]
[76, 22, 9, 3, 1]
[1, 3, 9, 22, 76]

In [21]:
#Using extend and remove to add/remove multiple values to an array/list
foods = ['rice','apple','crisps']
foods_sorted_asc = sorted(foods)
foods_sorted_desc = sorted(foods, reverse=True)
print(foods)
print(foods_sorted_asc)
print(foods_sorted_desc)

['rice', 'apple', 'crisps']
['apple', 'crisps', 'rice']
['rice', 'crisps', 'apple']

In [32]:
#Create a dictionary of restaurants, at least one should have a value made of a list
restaurants = {'eleven':'carvery',
               'Fusion':'thai',
               'Crown':['pub grub','indian']} #Crown serves 2 types of cuisine
print(restaurants)
print(restaurants['Crown'])
print(restaurants.keys())
print(restaurants.values())
restaurants['Thai Cafe']='Thai Fusion'
restaurants['Fusion']='Asian Fusion'
print(restaurants)
print('Island Star' in restaurants)

{'eleven': 'carvery', 'Fusion': 'thai', 'Crown': ['pub grub', 'indian']}
['pub grub', 'indian']
dict_keys(['eleven', 'Fusion', 'Crown'])
dict_values(['carvery', 'thai', ['pub grub', 'indian']])
{'eleven': 'carvery', 'Fusion': 'Asian Fusion', 'Crown': ['pub grub', 'indian'], 'Thai Cafe': 'Thai Fusion'}
False

In [44]:
jobs = {'Al':'SQL Dev',
        'Mike':'Manager'}

for key, val in jobs.items():
    print(f"My name is {key} and my job is {val}")

My name is Al and my job is SQL Dev
My name is Mike and my job is Manager