In [6]:
# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries

import pandas as pd

work = pd.DataFrame({"employee_id": ["2940", "3999", "2945", "3594", "2222"],
                     "age": [24, 45, 34, 64, 21],
                     "salary": [34500, 6000, 356500, 18000, 95000],
                     "job_title": ["teacher", "assistant", "head teacher", "supervisor", "department head"]})


work

work.dtypes

employee_id    object
age             int64
salary          int64
job_title      object
dtype: object

In [27]:
# Use pandas methods to find the maximum and minimum salaries and ages
# Find the sum of all the salaries using pandas methods
# Find the mean age 
# A little more tricky: find the longest name and print it, and its length
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
# To a different appropriately named variable, slice the dataframe to have only those above the median age who also have a letter (of your choice) at least once in their name

max_salary = work["salary"].max()
min_salary = work["salary"].min()
max_age = work["age"].max()
min_age = work["age"].min()
salary_sum = work["salary"].sum()
salary_median = work["salary"].median()
mean_age = work["age"].mean()
median_age = work["age"].median()

longest_title = max(work["job_title"], key = len)
length = len(longest_title)

highest_salaries = work[work.salary >= salary_median]

above_median_age_and_s = work[(work.age >= median_age) & work.job_title.str.contains("s")]
above_median_age_and_s

  employee_id  age  salary   job_title
1        3999   45    6000   assistant
3        3594   64   18000  supervisor