In [11]:
# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries

# Step 1 - Import Pandas to create DataFrame 
import pandas as pd

# Step 2 - create list of lists to hold the 5 rows of data  
data = [
            [1,"Al", 43,40323.09,"Senior SQL Developer"],
            [2,"Zara", 53,53108.76,"SQL Developer Manager"],
            [3,"Andy", 60,34748.91,"SQL Developer"],
            [4,"Sheila", 60,29992.63,"Junior SQL Developer"],            
            [5,"Billy", 22,21007.42,"SQL Developer Apprentice"]            
        ]
 
# Step 3 - Create the pandas DataFrame 
df = pd.DataFrame(data, columns=['EmployeeID', 'Name', 'Age', 'Salary','Job Title']) 
df.dtypes

EmployeeID      int64
Name           object
Age             int64
Salary        float64
Job Title      object
dtype: object

In [14]:
# Use pandas methods to find the maximum and minimum salaries and ages
sal_max = df['Salary'].max()
sal_min = df['Salary'].min()
age_max = df['Age'].max()
age_min = df['Age'].min()
print(f"The maximum salary is £{sal_max}, and the minimum salary is £{sal_min}. The maximum age is {age_max}, and the minimum age is {age_min}.")
# Find the sum of all the salaries using pandas methods
sal_sum = df['Salary'].sum()
print(f"The sum of all salaries is £{sal_sum}")
# Find the mean age 
age_mean = df['Age'].mean()
print(f"The mean age of all the employees is {age_mean}")
# A little more tricky: find the longest name and print it, and its length
# Assign to an appropriately named variable a slice of the dataframe where all
#  the salaries are above the median
# To a different appropriately named variable, slice the dataframe to have only those above the median age who also have a letter (of your choice) at least once in their name

The maximum salary is £53108.76, and the minimum salary is £21007.42. The maximum age is 60, and the minimum age is 22.
The sum of all salaries is £179180.81
The mean age of all the employees is 47.6