In [1]:
# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries
import pandas as pd
dict_employee = pd.DataFrame({
    'EmployeeID':[123456,654321,456789,987654,234567],
    'Fullname':['John Prine', 'Guy Clark','John Couger-Mellancamp', 'Gretchen Peters', 'Robert Plant'],
    'Age': [38, 24, 60, 20, 45],
    'Salary': [42450,53510,37890,23570,40230],
    'Job Title': ['Web Developer', 'Senior Analyst', 'Performance Analyst', 'Developer', 'Research Analyst'],
})
max_salary = max(dict_employee['Salary'])
min_salary = min(dict_employee['Salary'])
mean_age= sum(dict_employee['Age'])/len(dict_employee['Age'])
print(f"Maximun salary: £{max_salary:,}\nMinimum Salary: £{min_salary:,}\nMean age: {mean_age} years old")
longest_name = dict_employee['Fullname'].str.len().max()
print(longest_name)

Maximun salary: £53,510
Minimum Salary: £23,570
Mean age: 37.4 years old
22

In [73]:
# Use pandas methods to find the maximum and minimum salaries and ages
# Find the sum of all the salaries using pandas methods
# Find the mean age 
# A little more tricky: find the longest name and print it, and its length
# Assign to an appropriately named variable a slice of the dataframe where all the salaries 
# are above the median
# To a different appropriately named variable, slice the dataframe to have only those above 
# the median age who also have a letter (of your choice) at least once in their name

import pandas as pd
dict_employee = pd.DataFrame({
    'EmployeeID':[123456,654321,456789,987654,234567],
    'Fullname':['John Prine', 'Guy Clark','John Couger-Mellancamp', 'Gretchen Peters', 'Robert Plant'],
    'Age': [38, 24, 60, 20, 45],
    'Salary': [42450,53510,37890,23570,40230],
    'Job Title': ['Web Developer', 'Senior Analyst', 'Performance Analyst', 'Developer', 'Research Analyst'],
})
#Max, Min salary and mean age
max_salary = max(dict_employee['Salary'])
min_salary = min(dict_employee['Salary'])
mean_age = dict_employee['Age'].mean()
print(f"Maximun salary: £{max_salary:,}\nMinimum Salary: £{min_salary:,}\nMean age: {mean_age} years old\n")
#Longest name and length
len_longest_name = dict_employee['Fullname'].str.len().max()
ind_longest_name = dict_employee['Fullname'].str.len().idxmax()
val_longest_name = dict_employee['Fullname'][ind_longest_name]
print(f"Longest name in list: {val_longest_name} (length:{len_longest_name})\n")
#Salary greater than mean
mean_salary = dict_employee['Salary'].mean()
slice_mean_salary = dict_employee[dict_employee['Salary'] > mean_salary]
print(slice_mean_salary)
#Employees above mean age and contains the letter 'p'
slice_mean_age = dict_employee [dict_employee['Age'] > mean_age]
slice_contains_y = dict_employee[dict_employee['Fullname'].str.contains('y')]
print(slice_mean_age)
print(slice_contains_y)
print(dict_employee[(dict_employee['Age'] < mean_age) & dict_employee['Fullname'].str.contains("y")])

Maximun salary: £53,510
Minimum Salary: £23,570
Mean age: 37.4 years old

Longest name in list: John Couger-Mellancamp (length:22)

   EmployeeID      Fullname  Age  Salary         Job Title
0      123456    John Prine   38   42450     Web Developer
1      654321     Guy Clark   24   53510    Senior Analyst
4      234567  Robert Plant   45   40230  Research Analyst
   EmployeeID                Fullname  Age  Salary            Job Title
0      123456              John Prine   38   42450        Web Developer
2      456789  John Couger-Mellancamp   60   37890  Performance Analyst
4      234567            Robert Plant   45   40230     Research Analyst
   EmployeeID   Fullname  Age  Salary       Job Title
1      654321  Guy Clark   24   53510  Senior Analyst
   EmployeeID   Fullname  Age  Salary       Job Title
1      654321  Guy Clark   24   53510  Senior Analyst