In [4]:
# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries

# Step 1 - Import Pandas to create DataFrame 
import pandas as pd

# Step 2 - create list of lists to hold the 5 rows of data  
data = [
            [1,"Roberto", 49,40323.09,"Senior SQL Developer"],
            [2,"Annie", 38,53108.76,"SQL Developer Manager"],
            [3,"Zara", 40,34748.91,"SQL Developer"],
            [4,"Sheila", 30,29992.63,"Junior SQL Developer"],            
            [5,"Billy", 22,21007.42,"SQL Developer Apprentice"]            
        ]
 
# Step 3 - Create the pandas DataFrame 
df = pd.DataFrame(data, columns=['EmployeeID', 'Name', 'Age', 'Salary','Job Title']) 
#df.dtypes

In [5]:
print("Considering the data frame below:")
print("\r")
df #QUESTION: WHY WON'T THIS PRINT?
print(df)
print("\r")
# Use pandas methods to find the maximum and minimum salaries and ages
sal_max = df['Salary'].max()
sal_min = df['Salary'].min()
age_max = df['Age'].max()
age_min = df['Age'].min()
print(f"The maximum salary is £{sal_max}, and the minimum salary is £{sal_min}. The maximum age is {age_max}, and the minimum age is {age_min}.")
# Find the sum of all the salaries using pandas methods
sal_sum = df['Salary'].sum()
print(f"The sum of all salaries is £{sal_sum}.")
# Find the mean age 
age_mean = df['Age'].mean()
print(f"The mean age of all the employees is {age_mean}.")
# A little more tricky: find the longest name and print it, and its length
name_longest = df['Name'][df.Name.str.len().idxmax()]
name_longest_len = len(name_longest)
print(f"The longest name of any of the staff members is '{name_longest}', at {name_longest_len} characters long.")
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
sal_med = df['Salary'].median()
df_sal_gt_med = df[df['Salary'] > sal_med]
print("\r")
print(f"The following staff members earn more than the median salary (£{sal_med}) for all staff:")
print("\r")
print(df_sal_gt_med)
# To a different appropriately named variable, slice the dataframe to have only those above the median age who also
# have a letter (of your choice) at least once in their name
age_med = df['Age'].median()
df_age_gt_med = df[df['Age'] > age_med]
df_age_gt_med_name_cont_r = df_age_gt_med[df_age_gt_med['Name'].str.contains("r",case=False)]
print("\r")
print(f"The following staff members are aged above the median age ({age_med}) for all staff and have the letter 'r' in their name:")
print("\r")
print(df_age_gt_med_name_cont_r)

Considering the data frame below:

   EmployeeID     Name  Age    Salary                 Job Title
0           1  Roberto   49  40323.09      Senior SQL Developer
1           2    Annie   38  53108.76     SQL Developer Manager
2           3     Zara   40  34748.91             SQL Developer
3           4   Sheila   30  29992.63      Junior SQL Developer
4           5    Billy   22  21007.42  SQL Developer Apprentice

The maximum salary is £53108.76, and the minimum salary is £21007.42. The maximum age is 49, and the minimum age is 22.
The sum of all salaries is £179180.81.
The mean age of all the employees is 35.8.
The longest name of any of the staff members is 'Roberto', at 7 characters long.

The following staff members earn more than the median salary (£34748.91) for all staff:

   EmployeeID     Name  Age    Salary              Job Title
0           1  Roberto   49  40323.09   Senior SQL Developer
1           2    Annie   38  53108.76  SQL Developer Manager

The following staff members are aged above the median age (38.0) for all staff and have the letter 'r' in their name:

   EmployeeID     Name  Age    Salary             Job Title
0           1  Roberto   49  40323.09  Senior SQL Developer
2           3     Zara   40  34748.91         SQL Developer