In [1]:
# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries

In [2]:
# Use pandas methods to find the maximum and minimum salaries and ages
# Find the sum of all the salaries using pandas methods
# Find the mean age 
# A little more tricky: find the longest name and print it, and its length
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
# To a different appropriately named variable, slice the dataframe to have only those above the median age who also have a letter (of your choice) at least once in their name

In [31]:
import pandas as pd

data_dict = {
    'Employee_ID': [24601, 24621, 33621, 28965, 88567],
    'Age': [41, 24, 32, 32, 27],
    'Salary': [36000, 44000, 45000, 29500, 33000],
    'Job_Title': ['Performance Analyst', 'Data Analyst', 'Manager', 'Data Analyst', 'Project Manager']
}

company_1 = pd.DataFrame(data_dict)

max_salary, min_salary, median_salary, salary_total, max_age, min_age, mean_age, median_age = (
    company_1['Salary'].max(),
    company_1['Salary'].min(),
    company_1['Salary'].median(),
    company_1['Salary'].sum(),
    company_1['Age'].max(),
    company_1['Age'].min(),   
    company_1['Age'].mean(),
    company_1['Age'].median()
)

above_median_salary = company_1[company_1['Salary'] > median_salary]
above_median_age = company_1[company_1['Age'] > median_age]
target_letter = 'A'
filtered_df = above_median_age[above_median_age['Job_Title'].str.contains(target_letter, case=False)]

company_1['Title_Length'] = company_1['Job_Title'].str.len()
longest_title = max(company_1["Job_Title"], key = len)
title_length = len(longest_title)

print(f'The maximum salary is: £{max_salary}\n'
      f'The minimum salary is: £{min_salary}\n'
      f'The median salary is: £{median_salary}\n'
      f'The salary total is: £{salary_total}\n'
      f'The maximum age is: {max_age}\n'
      f'The minimum age is: {min_age}\n'
      f'The mean age is: {mean_age}\n'
      f'The median age is: {median_age}\n')

print(f"The longest job title is: {longest_title} (Length: {title_length})\n")
print(f"Employees above the median salary are: \n {above_median_salary}\n")
print(f"Employees above the median age who also have the letter '{target_letter}' in their Job Title are: \n {filtered_df}")

The maximum salary is: £45000
The minimum salary is: £29500
The median salary is: £36000.0
The salary total is: £187500
The maximum age is: 41
The minimum age is: 24
The mean age is: 31.2
The median age is: 32.0

The longest job title is: Performance Analyst (Length: 19)

Employees above the median salary are:
    Employee_ID  Age  Salary     Job_Title
1        24621   24   44000  Data Analyst
2        33621   32   45000       Manager

Employees above the median age who also have the letter 'A' in their Job Title are:
    Employee_ID  Age  Salary            Job_Title
0        24601   41   36000  Performance Analyst