In [3]:
numbers = [1,2,3,4,5]

for number in numbers:
    print(number)

for i in range(1,6):
    print(i)

1
2
3
4
5
1
2
3
4
5

In [5]:
simpsons = {"Dad" : "Homer",
            "Mum": "Marge",
            "Baby" : "Maggie"}

print(simpsons.items())

for family_member, name in simpsons.items():
    print(f'{name} is the {family_member}')

dict_items([('Dad', 'Homer'), ('Mum', 'Marge'), ('Baby', 'Maggie')])
Homer is the Dad
Marge is the Mum
Maggie is the Baby

In [6]:
restaurant = {"starter" : "gyoza",
            "main": "noodles",
            "dessert" : "cake"}

print(restaurant.items())

for order, name in restaurant.items():
    print(f'{name} is the {order}')

dict_items([('starter', 'gyoza'), ('main', 'noodles'), ('dessert', 'cake')])
gyoza is the starter
noodles is the main
cake is the dessert

In [8]:
side_characters = ["Barney", "Ned", "Krusty", "Sideshow Bob"]

for i, name in enumerate(side_characters):
    print(name)

Barney
Ned
Krusty
Sideshow Bob

In [15]:
import pandas as pd

michael = pd.DataFrame({"names" : ["tom", "dick", "harry"],
                     "jobs" : ["hairdresser", "nail artist", "tattooist"]})

hcc = pd.DataFrame({"names" : ["Jon", "Emily", "Paul"],
                     "jobs" : ["Project Manager","Analyst","Senior"]})

df_dict = {"Michael": michael,
           "hcc 2" : hcc}

#df_dict

for k, v in df_dict.items():
    v["originator"] =k

df_dict

{'Michael':    names         jobs originator
 0    tom  hairdresser    Michael
 1   dick  nail artist    Michael
 2  harry    tattooist    Michael,
 'hcc 2':    names             jobs originator
 0    Jon  Project Manager      hcc 2
 1  Emily          Analyst      hcc 2
 2   Paul           Senior      hcc 2}

In [6]:
import pandas as pd

child_identifiers = pd.DataFrame({"child_id": ["child1", "child2", "child3", "child4"],
"age_first_contact" : [6,10,12,13],
"gender" : ["M", "M", "M", "F"]})

# print(child_identifiers)

nhs_nums = pd.DataFrame({"child_id": ["child1", "child2", "child3", "child4"],
"nhs_num" : ["nhs1","nhs2","nhs3","nhs4"]})

# print(nhs_nums)

ident_nhs = child_identifiers.merge(nhs_nums, how = "left", left_on="child_id", right_on="child_id")

## if joining multiple ident_nhs = child_identifiers.merge(nhs_nums, how = "left", left_on=["child_id", "dob"], right_on=["child_id", "date of birth")
## if lazy ident_nhs = child_identifiers.merge(nhs_nums, how = "left", on="child_id")

cp_plans =  pd.DataFrame({"child_id": ["child1", "child4"],
"cp_start_date" : ["01/01/2023", "01/01/2000"]})

ident_all_left = ident_nhs.merge(cp_plans, how = "left", left_on="child_id", right_on="child_id")
ident_all_left["cp_start_date"] = ident_all_left["cp_start_date"].fillna("no cp plan")

print(ident_all_left)

ident_all_inner = ident_nhs.merge(cp_plans, how = "inner", left_on="child_id", right_on="child_id")

print(ident_all_inner)

  child_id  age_first_contact gender nhs_num cp_start_date
0   child1                  6      M    nhs1    01/01/2023
1   child2                 10      M    nhs2    no cp plan
2   child3                 12      M    nhs3    no cp plan
3   child4                 13      F    nhs4    01/01/2000
  child_id  age_first_contact gender nhs_num cp_start_date
0   child1                  6      M    nhs1    01/01/2023
1   child4                 13      F    nhs4    01/01/2000

In [15]:
staff_ids = pd.DataFrame({"names": ["Jon", "Emily", "Paul", "Michael"],
"age_started" : [25,23,29,35],
"gender" : ["M", "F", "M", "M"]})

# print(child_identifiers)

staff_id_numbers = pd.DataFrame({"names": ["Jon", "Emily", "Paul", "Michael"],
"id_num" : ["3403","3950", "3034","2300"]})

# print(nhs_nums)

staff_hcc = staff_ids.merge(staff_id_numbers, how = "left", left_on="names", right_on="names")

start_dates =  pd.DataFrame({"names": ["Jon", "Michael"],
"start_date" : ["01/01/2023", "01/01/2018"]})

staff_hcc_left = staff_hcc.merge(start_dates, how = "left", left_on="names", right_on="names")

print(staff_hcc_left)

staff_hcc_inner = staff_ids.merge(start_dates, how = "inner", left_on="names", right_on="names")

print(staff_hcc_inner)

     names  age_started gender id_num  start_date
0      Jon           25      M   3403  01/01/2023
1    Emily           23      F   3950         NaN
2     Paul           29      M   3034         NaN
3  Michael           35      M   2300  01/01/2018
     names  age_started gender  start_date
0      Jon           25      M  01/01/2023
1  Michael           35      M  01/01/2018