In [5]:
import pandas as pd

In [7]:
#Recap on session 3
restaurants_dict = [{'Restuarant':'Prezzo',
                  'Starter':'Olives',
                  'Main':'Pizza',
                  'Dessert':'Cheesecake'},
                  {'Restuarant':'Pho',
                  'Starter':'Spring Rolls',
                  'Main':'Pad Tai Noodles',
                  'Dessert':'Sorbet'},
                  {'Restuarant':'Nandos',
                  'Starter':'Corn in the cob',
                  'Main':'Chicken wrap',
                  'Dessert':'Chocolate cake'},
]

restaurants_df = pd.DataFrame(restaurants_dict)
restaurants_df

  Restuarant          Starter             Main         Dessert
0     Prezzo           Olives            Pizza      Cheesecake
1        Pho     Spring Rolls  Pad Tai Noodles          Sorbet
2     Nandos  Corn in the cob     Chicken wrap  Chocolate cake

In [15]:
#Start of session 4 (first session in module 2)

numbers = [1, 2, 3, 4, 5]

#every indent is included within the loop
for i in numbers:
    print(i)
print(numbers)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [21]:
simpsons_dict = {'Dad':'Homer',
            'Mum': 'Marge',
            'Baby': 'Maggie'}

for k, v in simpsons_dict.items():
    print(f'{v} is the {k}')

Homer is the Dad
Marge is the Mum
Maggie is the Baby

In [25]:
foods_dict = {'Food 1': 'Bananas',
              'Food 2': 'Bread',
              'Food 3': 'Marmite'}

for item, food in foods_dict.items():
    print(f'{item} is {food}')

Food 1 is Bananas
Food 2 is Bread
Food 3 is Marmite

In [34]:
side_characters = ['Barney', 'Ned', 'Krusty', 'Sideshow Bob']
#print(side_characters[1:3])

for i, name in enumerate(side_characters):
    side_characters[i] = f'{name} is a Stonemason'

print(side_characters)

['Barney is a Stonemason', 'Ned is a Stonemason', 'Krusty is a Stonemason', 'Sideshow Bob is a Stonemason']

In [41]:
import pandas as pd

df_1 = pd.DataFrame({'col 1':['foo', 'bar', 'baz'],
                     'col 2':[1, 2, 3]})

df_2 = pd.DataFrame({'col 1':['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2':['Green', 'Eggs', 'Ham']})
                              
df_dict = {'Dataframe 1':df_1,
          'Dataframe 2':df_2}

for k, v in df_dict.items():
    v['originator'] = k

df_dict['Dataframe 1']

  col 1  col 2   originator
0   foo      1  Dataframe 1
1   bar      2  Dataframe 1
2   baz      3  Dataframe 1

In [46]:
company_1 = pd.DataFrame({'Name':['Jon', 'Paul', 'Emily'],
                     'Job Title':['Project Manager', 'Senior Performance Manager', 'Data Analyst']})

company_2 = pd.DataFrame({'Name':['Krusty', 'Homer', 'Moe'],
                     'Job Title':['TV Clown', 'Nuclear Safety Engineer', 'Bartender']})
                              
company_df_dict = {'Dataframe 1':company_1,
          'Dataframe 2':company_2}

for k, v in company_df_dict.items():
    v['Originator'] = k

company_df_dict['Dataframe 2']

     Name                Job Title   Originator
0  Krusty                 TV Clown  Dataframe 2
1   Homer  Nuclear Safety Engineer  Dataframe 2
2     Moe                Bartender  Dataframe 2

In [50]:
child_identifiers = pd.DataFrame({'child_id':['child 1', 'child 2', 'child 3', 'child 4'],
              'age_first_contact':[6, 10, 12, 13],
              'gender':['m', 'm', 'm', 'f']})

#print(child_identifiers)

nhs_nums = pd.DataFrame({'child_id':['child 1', 'child 2', 'child 3', 'child 4'],
              'nhs_numbers':['nhs1', 'nhs2', 'nhs3', 'nhs4']})

#print(nhs_nums)

ident_nhs = child_identifiers.merge(nhs_nums, how='left', left_on='child_id', right_on='child_id')

# ident_nhs = child_identifiers.merge(nhs_nums, how='left', on='child_id')

print(ident_nhs)

  child_id  age_first_contact gender nhs_numbers
0  child 1                  6      m        nhs1
1  child 2                 10      m        nhs2
2  child 3                 12      m        nhs3
3  child 4                 13      f        nhs4

In [56]:
cp_plans = pd.DataFrame({'child_id':['child 1', 'child 4'],
                            'cp_start_date':['01/01/2023', '01/01/2000']})

cp_plans

df_left = ident_nhs.merge(cp_plans, how='left', on='child_id')
df_left['cp_start_date'] = df_left['cp_start_date'].fillna('no cp plan')

df_inner = ident_nhs.merge(cp_plans, how='inner', on='child_id')

print(df_left)
print(df_inner)

  child_id  age_first_contact gender nhs_numbers cp_start_date
0  child 1                  6      m        nhs1    01/01/2023
1  child 2                 10      m        nhs2    no cp plan
2  child 3                 12      m        nhs3    no cp plan
3  child 4                 13      f        nhs4    01/01/2000
  child_id  age_first_contact gender nhs_numbers cp_start_date
0  child 1                  6      m        nhs1    01/01/2023
1  child 4                 13      f        nhs4    01/01/2000

In [61]:
company_2 = pd.DataFrame({'Name':['Krusty', 'Homer', 'Moe'],
                     'Job Title':['TV Clown', 'Nuclear Safety Engineer', 'Bartender']})

staff_id = pd.DataFrame({'Name':['Krusty', 'Homer', 'Moe'],
                     'staff_id':['0001', '0002', '0003']})
                                 
company_2_id = company_2.merge(staff_id, how='left', on='Name')

company_2_id

     Name                Job Title staff_id
0  Krusty                 TV Clown     0001
1   Homer  Nuclear Safety Engineer     0002
2     Moe                Bartender     0003