In [10]:
import pandas as pd
df = pd.read_csv('/workspaces/ERN-sessions/data/1980 2023 average house prices.csv')
df['Period'] = pd.to_datetime(df['Period'],format= "%Y-%m")
#df.head(10)
#df.info()

highest, lowest, mean = (
df['Percentage change (monthly) All property types'].max(),
df['Percentage change (monthly) All property types'].min(),
df['Percentage change (monthly) All property types'].mean(),
)
print(highest, lowest)

#Slice to see only those rows over the average
condition = (df['Percentage change (monthly) All property types']
             > df['Percentage change (monthly) All property types'].mean())

over_monthly_change = df[condition]
over_monthly_change

13.29 -4.79

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02-01,10.11,19273,3.94,28.59
2,United Kingdom,1980-03-01,10.11,19273,3.94,28.59
3,United Kingdom,1980-04-01,10.51,20044,4.00,24.15
4,United Kingdom,1980-05-01,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
500,United Kingdom,2021-09-01,141.09,269003,3.29,11.37
502,United Kingdom,2021-11-01,140.23,267370,1.53,8.66
504,United Kingdom,2022-01-01,143.05,272738,1.72,9.23
508,United Kingdom,2022-05-01,147.10,280433,1.30,11.60
510,United Kingdom,2022-07-01,151.10,288156,1.90,13.80

In [12]:
numbers_list = [1, 2, 3, 4, 5]

for i in numbers_list:
    print(i)

1
2
3
4
5

In [21]:
up_to_100 = list(range(1, 101))

total_evens = 0

for number in up_to_100:
    if number %2 == 0:
        total_evens += number

print(total_evens)

2550

In [24]:
up_to_100 = list(range(1, 101))

total_odds = 0

for number in up_to_100:
    if number %2 == 1:
        total_odds += number

print(total_odds)

2500

In [30]:
#DRY
#Don't Repeat Yourself

def sum_function(x, y):
    total = x + y
    
    return total
   
answer = sum_function(5, 60)

answer

65

In [33]:
def product_function(x, y):
    product = x * y

    return product

answer = product_function(5, 4)

answer

20

In [34]:
def sum_prod(x, y):
    '''
    Finds the sum and product of two numbers, returns the sum and product.

    Args:
        x, y: Int or Float, number for which the sum and product is found.

    Returns:
        summation: Int or Float, the sum of x and y.
        product: Int or Float, the prodcut of x and y.     
    '''
    summation = x + y
    product = x * y
    return summation, product

summation_5_10, product_5_10 = sum_prod(5, 10)
print(summation_5_10)
print(product_5_10)

15
50

In [38]:
def sub_div(x, y):
    '''
    Finds the subtraction and division of two numbers, returns the subtraction and division.

    Args:
        x, y: Int or Float, numbers for which the subtraction and division is found.

    Returns:
        subtraction: Int or Float, the subtraction of x and y.
        division: Int or Float, the division of x and y.     
    '''
    subtraction = x - y
    division = x / y
    return subtraction, division

subtraction_5_10, division_5_10 = sub_div(5, 10)
print(subtraction_5_10)
print(division_5_10)

-5
0.5